// Menu wrapper
.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0;
    }
}

//menu popper
.menu-popper {
    padding-bottom: 8px;
}

.menu-body {
    position: relative;
    overflow-y: auto;
}

//Menu items
.menu-item {
    border-radius: 0;
    padding: 10px 8px 10px 16px;
    justify-content: flex-start;
    width: 100%;
    line-height: 18px;
    font-weight: 600;
    &:hover {
        cursor: pointer;
        background-color: var(--background-gray-color-03);
    }
    &.separate {
        border-top: 1px solid var(--background-gray-color-12);
    }
}

//Header Menu
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}
.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
