.wrapper {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 9px 16px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.06);
        cursor: pointer;
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.info {
    height: 100%;
    flex: 1;
    margin-left: 14px;
}
.name {
    color: var(--color-foreground);
    font-size: 1.6rem;
}
.check {
    margin-left: 6px;
    color: rgb(32, 213, 236);
}
.username {
    font-size: 1.4rem;
    color: var(--color-foreground);
}
