.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-btn-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--color-background);
}

.inner {
    width: 100%;
    height: 100%;
    //background-color: rgba(22, 24, 35, 0.06);
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    width: 300px;
}
.search-container {
    position: relative;
    min-width: 200px;
    padding: 0px 8px;
    width: 516px;
}

// Action
.action {
    display: flex;
    align-items: center;
    justify-content: center;
}
.action-btn {
    width: 32px;
    height: 32px;
    font-size: 2.4rem;
    margin: 0 0 0 16px;
    background-color: var(--color-background);
    &:hover {
        cursor: pointer;
    }
}

.upload-btn {
    display: block;
}

.message-btn {
    position: relative;
    &::after {
        content: '24';
        position: absolute;
        font-size: 1.4rem;
        color: #fff;
        top: -6px;
        left: 16px;
        max-width: 50px;
        max-height: 20px;
        padding: 2px 6px;
        border-radius: 10px;
        background-color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
    }
}

.inbox-btn {
    position: relative;
    &::after {
        content: '24';
        position: absolute;
        font-size: 1.4rem;
        color: #fff;
        top: -6px;
        left: 16px;
        max-width: 50px;
        max-height: 20px;
        padding: 2px 6px;
        border-radius: 10px;
        background-color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
    }
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 0 0 16px;
    object-fit: cover;
    &:hover {
        cursor: pointer;
    }
}

.more-btn {
    font-size: 1.6rem;
    background-color: transparent;
    margin-left: 24px;
    padding: 4px 8px;
    cursor: pointer;
}

//Responsive
@media (max-width: 479px) {
    .upload-btn {
        display: none !important;
    }
    .action {
        margin-right: 16px;
    }
    .message-btn {
        margin-left: 0;
    }
}
